<header class="app-brandbar">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a class="app-brandname" href="">Andreas Strobel</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <nav class="app-nav pull-right" role="navigation">
                <ul class="nav nav-pills nav-main">
                  <li><a href="#">Termine</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Vita</a></li>
                  <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</header>