<nav class="navbar navbar-default app-navbar" id="app-navbar" role="navigation">
<div class="container">
  <div class="navbar-header" id="app-navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Andreas Strobel</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse" id="app-navbar-content">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Termine</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Vita</a></li>
        <li><a href="#">Kontakt</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>
